* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar-section {
  background-image: url("shop1.jpg");
  background-size: cover;
  height: 99vh;
}
.navbar-items {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
  padding: 20px;
  justify-content: center;
  font-weight: 600;
  word-spacing: 20px;
}

.navbar-section {
  margin: 10px;
}

.img {
  width: 30px;
  height: 30px;
}

.sell-btn:hover {
  color: #fff;
  background-color: #4c914e75;
  border-radius: 10%;
  font-weight: 600;
}
.sell-btn {
  margin-top: 3px;
  font-weight: bold;
  border: 2px solid black;
  margin-left: 5px;
}
.search {
  margin-top: 7px;
  border-radius: 40%;
}
